
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoPermission</title>
</head>
<body>
    <div> 
        NoPermission
        <a href="@Url.Action("SignOut","Index",new { area = "" })">重新登录</a>
    </div>
</body>
</html>
