
<div class="hero-unit admin-nodata">
    <p class="text-center">
        暂无数据
    </p>
    <p class="text-center">
        <a class="btn btn-primary btn-large" onclick="history.go(-1);">返回</a>
    </p>
</div>