
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormUrlTest</title>
</head>
<body>
    <div> 
        <form action="FormUrlTest?pagesize=20">
            <input name="page" type="number"/>
            <input name="pagesize" type="hidden" value="22"/>
            <input type="submit" value="Go"/>
        </form>
    </div>
</body>
</html>
